*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
header{
    height: 100px;
    background-color: black;
    color: white;
}
.header{
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo{
    width: 100px;
}
.logoimg{
    border-radius: 40px;
    width: 80px;
    height: 80px;
    background-color:#b28756 ;
}
.menu{
    flex: 1;
    display: flex;
    justify-content:flex-end;
}
.menu ul, .menu li{
    list-style: none;
    display: flex;
    
}
.menu li a{
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    align-items: center;
    border-bottom:4px solid black ;

}
.menu li a:hover{
    border-bottom:4px solid #b28756 ;
    color:grey
}
.menu .active a{
    border-bottom:4px solid #b28756 ;
}
.button{
    display: inline-block;
    background-color: #b28756;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 10px;
    border-radius: 20px;
}
.banner{
    height: calc(100vh - 100px);
    background-color:#333;
    background-image: url(../images/bg.jpg);
    background-size:cover;
    background-position: bottom;
    overflow: hidden;
}
.banner .sliders{
    width: 1000vw;
    height: 100%;
}
.banner .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.7);
}
.banner .slidearea{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: white;
}
.banner h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}
.banner h1 span{
    color: #b28756;
}
.banner h2{
    text-transform:uppercase ;
    margin-top: 20px;
}
.banner a{
    display: block;
    background-color: #b28756;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 10px;
    border-radius: 20px;

}
.banner .sliders-pointers{ 
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top:-50px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor:pointer;
}
.banner .pointer.active{
    background-color: #b28756;;
}

.default{
    width: 100vw;
    padding-top: 50px;
    padding-bottom:50px;
}
.default .section-title, .default .section-desc{
    text-align: center;
    text-transform: uppercase;
}
.default .section-title{
    font-size: 20px;
    font-weight: 600;
}
.default .section-desc{
    font-size: 12px;
    font-weight: 600;
    color: #8b8a8a;
    margin-top: 13px;
    margin-bottom: 40px;
}
.default .section-body{
    max-width: 1140px;
    margin: auto;
}
.default.ligth{
    background-color: #f7f7f7;
}
.default.ligth  .section-title,
.default.ligth .section-body{
    color: black;
}
.default.dark{
    background-color: black;
}
.default.dark .section-title,
.default.dark .section-body{
    color:  #f7f7f7
}









/*CSS DE AREA EXPECIFICAS*/
.section-aboutus{
    display: flex;
}
.section-aboutus--left{
    flex:1;
    
}
.section-aboutus--left p{
    font-size: 14px;
    line-height: 23px;
}
.section-aboutus--right{
    width: 520px;
    text-align: center;
}
.section-aboutus--right img{
    width: 480px;
    box-shadow: 0 5px 10px;
}
 


.section-services{
    display: flex;
}
.section-service{
    flex: 1;
    text-align: center;
    border-left: 1px solid gray;
    padding: 15px;
}
.section-service:last-child{
    border-right: 1px solid gray;
}
.section-service h4{
    margin-top: 40px;
    text-transform: uppercase;
    font-size: 18px;
}
.section-service p{
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}


.section-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-projects--filters{
    border: 1px solid #c4c4c4;
    background-color: #EEE;
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
}
.section-projects--filters ul,.section-projects--filters  li{
    list-style: none;
    
}
.section-projects--filters  li{
    display: inline-block;
    text-align: center;
    padding: 10px;
    list-style: none;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid rgb(177, 177, 177);
    color: #555;
    border-bottom: 3px solid #EEE;
    cursor: pointer;
}
.section-projects--filters  li:hover{
    border-bottom: 3px solid #b28756;

}
.section-projects--filters  li:first-child{
    border-left: none;
}
.section-projects--photos{
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section-projects--photo{
    width: 280px;
}
.section-projects--photoarea{
    margin: 10px;
    width: 260px;
    height: 160px;
}
.section-projects--photoarea img{
    width: inherit;
    height: inherit;
}
.section-projects--photoinfo{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    align-items: center;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;

}
.section-projects--photoinfo h5{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
.section-projects--photoarea:hover .section-projects--photoinfo{
    display: flex;
}



.bg-team{
    background-image:url("../images/bg.jpg");
    background-size: cover;
    background-position: center;
    padding: 0;
}
.section-team-area{
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 50px;
    padding-bottom: 50px;
}
.section-team {
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}
.section-team .sliders{
    width: 1000vw;
    height: 100%;
}
.section-team .slide{
    width: 280px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: white;
    margin-right: 20px;
}
.section-team .slidearea{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    padding: 30px;
}
.section-team-area .sliders-pointers{ 
    margin-top: 30px;
    height: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-team-area .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor:pointer;
}
.section-team-area .pointer.active{
    background-color: #b28756;;
}
.section-team--avatar{
width: 150px;
height: auto;
}
.section-team--name{
text-transform: uppercase;
font-weight: 600;
font-size: 17px;
margin-top: 30px;
}
.section-team--role{
    font-size: 14px;
    margin-top: 5px;
    color: #999;

}
.section-team--social{
    display: flex;
    margin-top: 20px;
}
.section-team--social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #8b8a8a;
    border-radius: 13px;
    margin-right: 10px;
}
.section-team--social a:hover{
    background-color: #b28756;
}



.clients{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-body--clients{
    
}
.section-clients{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-title--clients{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
}
.section-desc--clients{
    text-align: center;
    text-transform: uppercase;
    color: #999;
    margin-top: 5px;
    font-size: 12px;
    font-weight: 600;
}
.avatar-clients{
    margin-top:90px ;
}
.client-name{
    text-align: center;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
}
.client-discription{
    text-align: center;
    margin-top: 5px;
    color: #424242;
    font-size: 12px;
    font-weight: 600;
}
.aspas-icon {
    margin: 20px;
}
.client-comment{
    max-width: 600px;
    font-size: 14px;
    color: #555;
    text-align:center;
}
.section-clients--area .sliders-pointers{ 
    margin-top: 30px;
    height: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-clients--area .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor:pointer;
}
.section-clients--area .pointer.active{
    background-color: #b28756;;
}

.empresa{
    margin: 0px;
    padding: 0px;
}
.grade{
    border: 1px solid #c4c4c4;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gradei{
    padding: 10px;
    margin: 0 50px 0 50px;    
}




.price{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-price--area{

}
.block-price{
    display: flex;
}
.section-title--price{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;

}
.section-desc--price{
    text-align: center;
    text-transform: uppercase;
    color: #999;
    margin-top: 5px;
    font-size: 12px;
    font-weight: 600;
}
.P-1{
    margin: 30px;
    padding: 25px;
    background-color: white;
    text-align: center;
}
.Pname{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    margin: 10px;
}
.Pvalue{
    font-weight: 700;
    font-size: 25px;
    
}
.Pmonth{
    color: #999;
    font-size: 10px;
    text-transform: uppercase;
    margin: 0 0 10px 0;
}
.ptracking{
    padding: 5px;
    font-size: 12px;
    font-weight: 400;
}
.tp{
    background-color: #333;
}
.tp:hover{
    background-color: #b28756;
}


.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(170, 111, 34);
}
.section-body--box{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-projects--box{
    display:flex;
    align-items: center;
    justify-content: center;
    
}
.caixa{
    margin-right: 60px;
}
.caixaT {
    display: inline-block;
    flex-direction: column;
   
}
.caixaT img {
    vertical-align: middle;
    width: 27px;
    height: 23px;
}
.caixaT span{ 
    vertical-align: middle;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 10px;
}
.caixaT .txt{
    padding: 3px;
    padding-bottom: 8px;
    color: #8b8a8a;
    margin-left: 36px;
    font-size: 12px;
}
.line{
    border: none;
    border-top: 1px solid #c4c4c4;
    margin: 20px 0;
    width: 100%;
}
.section-body--box .sliders-pointers{
        margin-top: 10px;
        margin-bottom: 15px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
}
.section-body--box  .pointer{
        width: 15px;
        height: 15px;
        border: 2px solid #b28756;
        border-radius: 8px;
        margin-left: 5px;
        margin-right: 5px;
        cursor:pointer;
    }
.section-body--box  .pointer.active{
        background-color: #b28756;;
}



.SM{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-title--SM{
    color: #f7f7f7;
    font-size: 20px;
    font-weight: 600;
}
.section-desc--SM{
    font-size: 12px;
    font-weight: 600;
    color: #8b8a8a;
    margin-top: 13px;
    margin-bottom: 40px;
    text-transform: uppercase;
}
.section-body--SM{
}
.section-service--SM {
    flex: 1;
    text-align: center;
    padding: 15px;
    color: #b28756;
}
.section-service--SM .linha{
    margin:20px 0 20px 0;
    border: 1px solid #999;
}